
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1><center>Machine Learning Blog</center></h1>
            <br>
            <p><center><a class="btn-default btn-lg" a href="{{site.baseurl}}/blog/" role="button">View Blogs</a></center></p>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['Blog'] }}" class="page-scroll"></a>
          </div>
        </div>
    </div>
    {% include social-buttons.html %}
  </div>
</header>

<!-- Intro End -->
